[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120

[VARIABLES]

# List of additional names supposed to be defined in builtins. Remember that
# you should avoid defining new builtins when possible.
additional-builtins=_
